
<div class="col-md-12 marginTop20">
	<div class="col-md-6">
		<img src="assests/images/dutch-dairy-farm.jpg">
	</div>
	<div class="col-md-6">
		<span class="interest_areas">Dairy Farming</span> <br></br> <span
			class="interest_areas_info">Main wastes from dairy farming:</span>
		<ul>
			<li>Cow Manure</li>
			<li>Slurry (mixture of cow manure, urine and cleaning water)</li>
		</ul>
		<span class="interest_areas_info">Value:</span>
		<ul>
			<li>Bio energy production plants (<u>Click here</u> to navigate
				to list of plants)
			</li>
			<li>Fertilizer industry (<u>Click here</u> to navigate to list
				of industries)
			</li>
		</ul>
		<span class="interest_areas_info">Reference:</span>
		<ul>
			<li><a href=http://edepot.wur.nl/423982>http://edepot.wur.nl/423982</a></li>
			<li><a
				href=https://www.rli.nl/sites/default/files/csr_logistics_designed_to_last_oct_2013_0.pdf>csr_logistics_designed_to_last_oct_2013_0.pdf</a></li>
		</ul>
	</div>
</div>
