
<div class="col-md-12 marginTop20">
	<div class="col-md-6">
		<img src="assests/images/Floriculture_nl.jpg" class="width_120">
	</div>
	<div class="col-md-6">
		<span class="interest_areas">Floriculture</span> <br></br> <span
			class="interest_areas_info">Main wastes from floriculture:</span>
		<ul>
			<li>Dried flowers</li>
			<li>Harvested plant residue</li>
		</ul>
		<span class="interest_areas_info">Value:</span>
		<ul>
			<li>Dried flowers used in cosmetic industry (<u>Click here</u>
				to navigate to list of industries)
			</li>
			<li>Residue can be used as compost manure (<u>Click here</u> to
				navigate to list of industries)
			</li>
		</ul>
		<span class="interest_areas_info">Reference:</span>
		<ul>
			<li><a
				href="https://www.bustle.com/articles/138380-how-to-use-dried-flowers-for-hair-skin-other-pretty-diy-beauty-recipes">
				https://www.bustle.com/articles/138380-how-to-use-dried-flowers-for-hair-skin-other-pretty-diy-beauty-recipes
			</a></li>
		</ul>
	</div>
</div>
