<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
a {
    text-decoration: none;
    color: #009286;
	cursor:pointer;
}
.copyright {
    display: block;
    color: #666666;
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
    font-family: arial;
    position: relative;
}
.footerNavigation {
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0px;
    padding-left: 20px;
    font-family: arial;
    font-size: 14px;
}
#disclaimer, #privacy {
    border-right: 1px solid #009286;
	padding-right: 7px;
}
</style>
<div class="container-fluid col-md-12" style="background-color:#ecebec;">
		<footer class="container-footer">
				<div class="col-md-6">
					<ul class="footerNavigation">
						<li style="display:inline;"><a id="disclaimer">Disclaimer</a></li>
						<li style="display:inline;"><a id="privacy">Privacy</a></li>
						<li style="display:inline;"><a>Veiligheid</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<span class="copyright">&copy; </span>
				</div>
		</footer>
	</div>
