<div class="col-md-12">
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12 paddingZero">
					<div class="container1">
						<div class="one">
							<img src="assests/images/Recycle Image.png" height="50px;">
						</div>
						<div class="two">
							<b>Worry about waste in your farm?</b>
							<div>
								<b>Educate & Earn</b>
							</div>
							<span style="color: #ffffff">Learn the value of
								agriculture waste Connect to supplies & demands in the market
								Earn the benefit</span>
						</div>
					</div>
					<div class="col-md-12 paddingZero">
						<img src="assests/images/field.jpg" alt="img" style="width: 100%;">
					</div>
					<div class="col-md-12">
						<div id="map"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
				<div class="pannel-container" data-ng-repeat="content in contentList">
				
					<div class="pannel-title"><a>{{content.title}}</a></div>
					<div><a><img src="{{content.img}}" class="pannel-body"></a></div>
				</div>
			</div>
	</div>
</div>